@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(35deg, #a5a5a5, #747474, #494949);
  background-size: 600% 600%;
  animation: AnimationBodyBackground 22s ease infinite;
}

@-webkit-keyframes AnimationBodyBackground {
  0%{background-position:0% 25%}
  50%{background-position:100% 76%}
  100%{background-position:0% 25%}
}
@-moz-keyframes AnimationBodyBackground {
  0%{background-position:0% 25%}
  50%{background-position:100% 76%}
  100%{background-position:0% 25%}
}
@keyframes AnimationBodyBackground {
  0%{background-position:0% 25%}
  50%{background-position:100% 76%}
  100%{background-position:0% 25%}
}

#root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fill-available;
  width: -moz-available;
  height: -webkit-fill-available;
  height: -moz-available;
}